.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.countWinns {
  display: flex;
  align-items: center;
  font-family: 'Caveat', cursive;

  div{
    font-size: 30px;

  }

  img {
    max-width: 200px;
    aspect-ratio: 1;
    margin: 0 100px;
  }

  #computerScore,
  #playerScore {
    &:before {
      content: "Score:";
      margin-right: 10px;
      position: relative;
      font-size: 25px;
    }
  }

  #computerScore {
    &:after {
      content: "CPU";
      position: absolute;
      top: 50px;
      left: 240px;
      font-size: 20px;

    }
  }

  #playerScore {
    &:after {
      content: "ME";
      position: absolute;
      top: 50px;
      right: 240px;
      font-size: 20px;
    }
  }
}


  .gameButtons {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 50px 0;

    button {
      align-self: center;
      background-color: #fff;
      background-image: none;
      background-position: 0 90%;
      background-repeat: repeat no-repeat;
      background-size: 4px 3px;
      border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
      border-style: solid;
      border-width: 2px;
      box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
      box-sizing: border-box;
      color: #41403e;
      cursor: pointer;
      display: inline-block;
      font-family: Neucha, sans-serif;
      font-size: 1rem;
      line-height: 23px;
      outline: none;
      padding: .75rem;
      text-decoration: none;
      transition: all 235ms ease-in-out;
      border-bottom-left-radius: 15px 255px;
      border-bottom-right-radius: 225px 15px;
      border-top-left-radius: 255px 15px;
      border-top-right-radius: 15px 225px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }

    button:hover {
      box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
      transform: translate3d(0, 2px, 0);
    }

    button:focus {
      box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
    }
  }

  #messages{
    font-size: 20px;

    div{

      font-family: Neucha, sans-serif;
      padding:20px 40px ;

      &:nth-of-type(2){
        background-color: #b5e1f5;
      }
    }
  }




